body {
    margin: 0;
    font-size: 18px; 
}

h1 {
    text-align: center;
    margin: 20px 0; 
    padding: 10px 0;
}

p {
    text-align: justify;
    line-height: 1.6;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 90%; 
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        width: 80%; 
    }
}

#feature {
    padding-bottom: 400px;
}

.container {
    width: 1350px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.name{
    width: auto;
}

.name h2{
   margin: auto;
    width: auto;
}

.country {
    width: 90px;
}

.country h2
{
    margin: auto;
}

.image {
    display: flex;
    justify-content: flex-start;
}

.image img{
    width: 300px;
    height: 300px;
}

.ingredient {
    text-align: center;
    padding-left: 260px;
    width: max-content;
}

.ingredient h2 {
    margin: auto;
}


.recette h2{
    text-align: center;
}


.video {
    text-align: center;
}

#next {
    width: 80px;
	height: 40px;
	margin: 20px auto 40px;
    display: block;
}
